#homepage2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 100vh;
    overflow: hidden;
}

#background2Rectangle.rectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 0vh;
    background-image: linear-gradient(180deg, rgba(57, 21, 0, 0) 0%, rgba(36, 15, 0, 0.6875) 48.96%, #1A0C00 100%);
}

#background2.rectangle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vh;
    top: 0vh;
    filter: blur(1px);
}

#ed {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 10vmax;
    top: 30vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 6vw;
    line-height: 96px;

    color: #FFBB55;

}

@media screen and (max-width: 992px) {
    #ed {
        top: 50%;
        left: 0%;
        /* -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        /* transform: translateX(50%); */
        text-align: center;
        width: 100vw;
        font-size: 10vw;
    }
}

#edImg {
    position: absolute;
    left: 70vw;
    top: 25vh;
}

@media screen and (max-width: 992px) {
    #edImg {
        position: absolute;
        left: 32vw;
        top: unset;
        bottom: 50vh;
        width: 40vw;
        height: auto;
    }
}

#yceofd {
    position: absolute;
    width: 40vmax;
    height: 93px;
    left: 10vmax;
    top: 48vmin;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 4vw;

    color: #FFBB55;
}

@media screen and (max-width: 992px) {
    #yceofd {
        position: absolute;
        top: 65vh;
        left: 0vw;
        width: 100vw;
        text-align: center;
        font-size: 5vw;
        line-height: 4.5vw;
    }
}