#navbar.rectangle {
    position: absolute;
    width: 100vw;
    height: 7vh;
    left: 0px;
    top: 0px;

    background: rgba(217, 217, 217, 0.25);
}

#logo {
    position: absolute;
    width: 5.5vh;
    height: 4.5vh;
    left: 10.5vw;
    top: 1.2vh;

}

#hmfyadText {
    position: absolute;
    width: 45vmax;
    height: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 2vmax;
    animation: textHmfyad 1s;
}

@keyframes textHmfyad {
    0% {
        left: -170vw;
    }

    100% {
        left: 2vmax;
    }
}

@keyframes textHmfyad1 {
    0% {
        left: -170vw;
    }

    100% {
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80vmin;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    #hmfyadText {
        top: 40%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80vmin;
        height: auto;
        animation: textHmfyad1 1s;
    }
}

#services {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 21vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;


    color: #FFBB55;



}

#aboutUs {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 28vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#contactUs {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 35vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#login {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 77vw;
    top: 2vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;

    color: #FFBB55;



}

#signUpBox.rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 12vmin;
    height: 3.7vh;
    left: 83vw;
    top: 1.9vmin;

    background: #FFBB55;
    border: 1px solid #000000;
    border-radius: 10px;
}

#signUp {
    position: absolute;
    text-decoration: none;
    width: auto;
    height: auto;
    z-index: 5;
    left: 1vw;
    top: 0.5vmin;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vmax;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 992px) {

    #services,
    #aboutUs,
    #contactUs,
    #login,
    #signUp {
        font-size: 0px;
    }

    #signUpBox.rectangle {
        display: none;
    }
}



#bcimg.rectangle {
    z-index: -10;
    position: absolute;
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 101vh;
    filter: blur(1px);
}

#thali.ellipse {
    position: absolute;
    width: 70.81vh;
    height: 70.81vh;
    left: 70vw;
    top: 25vh;
    overflow: hidden;
    z-index: -5;
    animation: start1thali 1s;
}

@keyframes start1thali {
    0% {
        left: 170vw;
    }

    100% {
        left: 70vw;
    }
}

@media screen and (max-width: 992px) {
    #thali.ellipse {
        width: 0vh;
        height: 0vh;
    }
}


#chilliPlate.ellipse {
    position: absolute;
    width: 10vmax;
    height: 10vmax;
    left: 95vmax;
    top: 5vmin;
    overflow: hidden;
    animation: start1chilli 1s;
}

@keyframes start1chilli {
    0% {
        left: 120vmax;
    }

    100% {
        left: 95vmax;
    }
}

#hmfayd {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    overflow: hidden;
    /* border: 2px; */

}

#upArrow {
    display: none;
    position: absolute;
    width: 3vw;
    height: auto;
    top: 90vh;
    left: 50%;
}

@media screen and (max-width: 992px) {
    #upArrow {
        display: inline;
        position: absolute;
        width: 3vw;
        height: auto;
        top: 90vh;
        left: 50%;
        animation: upArr 1s;
    }
}

@keyframes upArr {
    0% {
        top: 110vh;
    }

    100% {
        top: 90vh;
    }
}

#menu {
    width: 0px;
    height: 0px;
}

@media screen and (max-width: 992px) {
    #menu {
        position: absolute;
        width: 7vh;
        height: auto;
        left: 85vw;
        top: -2vh;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 80vw;
    top: 5vh;
    width: 20vw;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #643e3e;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    display: none;

}